In [1]:
'''
Question 1:
Create a Series from a list of integers representing daily temperatures (in Celsius) over a week. 
Assign index labels as day of the week. 
a. Find and print the average (mean) temperature for the week. 
b. Identify and print the maximum and minimum temperatures and their respective days. 
c. Display the temperatures greater than a specific value. 
d. Convert all temperatures to Fahrenheit. 
e. Print the days had temperatures above the average. 
'''
import pandas as pd
temp = [12, 16, 20, 15, 21, 17, 19]
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
ts = pd.Series(temp, index=days, name="Temperature (°C)")
print(ts)

avg = ts.mean()
print(f"\nAverage temperature = {avg:.2f} °C\n")

minimum = ts.min()
maximum = ts.max()
daymin = ts.idxmin()
daymax = ts.idxmax()
print(f"Minimum temperature: {minimum} °C on {daymin}")
print(f"Maximum temperature: {maximum} °C on {daymax}\n")

print(f"Temperatures greater than 15 °C:\n{ts[ts > 15]}\n")

tf = ts * (9/5.0) + 32
print(f"Temperatures in Fahrenheit:\n{tf.to_string()}")
abavg = ts[ts > avg]
print(f"\nDays with temperatures above the average:\n{abavg.index.to_list()}")

Monday       12
Tuesday      16
Wednesday    20
Thursday     15
Friday       21
Saturday     17
Sunday       19
Name: Temperature (°C), dtype: int64

Average temperature = 17.14 °C

Minimum temperature: 12 °C on Monday
Maximum temperature: 21 °C on Friday

Temperatures greater than 15 °C:
Tuesday      16
Wednesday    20
Friday       21
Saturday     17
Sunday       19
Name: Temperature (°C), dtype: int64

Temperatures in Fahrenheit:
Monday       53.6
Tuesday      60.8
Wednesday    68.0
Thursday     59.0
Friday       69.8
Saturday     62.6
Sunday       66.2

Days with temperatures above the average:
['Wednesday', 'Friday', 'Sunday']

In [2]:
'''
Question 2:
Create a data frame with details of 10 students and columns as 
Roll Number, Name, Gender, Marks1, Marks2, Marks3. 
a. Create a new column with total marks 
b. Find the lowest marks in Marks1 
c. Find the Highest marks in Marks2 
d. Find the average marks in Marks3 
e. Find student name with highest average 
f. Find how many students failed in Marks2 (<40)
'''
import pandas as pd
details={"Roll Number": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Name": ["Yash", "Shah Rukh Khan", "Selmon Bhoi", "Aishwarya Rai", "Katrina Kaif", "Amir Khan", "Chota Bheem", "Bada Bheem", "Jessy", "Dakota"],
    "Gender": ["Male", "Male", "Male", "Female", "Female", "Male", "Male", "Male", "Female", "Female"],
    "Marks1": [85, 78, 92, 88, 95, 75, 89, 82, 91, 74],
    "Marks2": [88, 72, 90, 35, 92, 80, 39, 79, 87, 73],
    "Marks3": [91, 79, 88, 84, 90, 78, 86, 80, 93, 72]}
df = pd.DataFrame(details)
df.set_index('Roll Number', inplace=True)
print(df)

df['Total Marks']=df['Marks1']+df['Marks2']+df['Marks3']
print(f"\nAfter adding new column of total marks:\n{df}")

low=df['Marks1'].min()
print(f"\nLowest marks in Marks1: {low}")

high=df['Marks2'].max()
print(f"Highest marks in Marks2: {high}")

avg=df['Marks3'].mean()
print(f"Average marks in Marks3: {avg:.2f}")

df['Average Marks']=df[['Marks1','Marks2','Marks3']].mean(axis=1)
name=df['Average Marks'].idxmax()
highest = df.loc[name, 'Average Marks']
print(f"Student with highest average marks: {df.loc[name, 'Name']} ({highest:.2f} average marks)")

fail2 = len(df[df['Marks2'] < 40])
print(f"Number of students who failed in Marks2: {fail2}")

                       Name  Gender  Marks1  Marks2  Marks3
Roll Number
1                      Yash    Male      85      88      91
2            Shah Rukh Khan    Male      78      72      79
3               Selmon Bhoi    Male      92      90      88
4             Aishwarya Rai  Female      88      35      84
5              Katrina Kaif  Female      95      92      90
6                 Amir Khan    Male      75      80      78
7               Chota Bheem    Male      89      39      86
8                Bada Bheem    Male      82      79      80
9                     Jessy  Female      91      87      93
10                   Dakota  Female      74      73      72

After adding new column of total marks:
                       Name  Gender  Marks1  Marks2  Marks3  Total Marks
Roll Number
1                      Yash    Male      85      88      91          264
2            Shah Rukh Khan    Male      78      72      79          229
3               Selmon Bhoi    Male      92      90      88          270
4             Aishwarya Rai  Female      88      35      84          207
5              Katrina Kaif  Female      95      92      90          277
6                 Amir Khan    Male      75      80      78          233
7               Chota Bheem    Male      89      39      86          214
8                Bada Bheem    Male      82      79      80          241
9                     Jessy  Female      91      87      93          271
10                   Dakota  Female      74      73      72          219

Lowest marks in Marks1: 74
Highest marks in Marks2: 92
Average marks in Marks3: 84.10
Student with highest average marks: Katrina Kaif (92.33 average marks)
Number of students who failed in Marks2: 2